.step1-form {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fcfdfe;
    width: 60%;
    height: 100vh;
}

@media screen and (max-width: 650px) {
    .step1-form {
        width: 100%;
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aab7c0;
}

.step1-form-container {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.label-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 48%;

}

@media screen and (max-width: 449px) {
    .step1-form-container {
        flex-direction: column;
    }

    .label-input-container {
        width: 100%;
    }
}

.label {
    color: #5a708a;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.text-input {
    outline: none;
    padding: 1em;
    border: 1px solid #e4e7e9;
    font-size: 1em;
    border-radius: 5px;
    color: #5a708a;
    font-weight: bold;
}

.text-input:focus {
    box-shadow: 0px 0px 2px 2px rgba(70, 155, 255, 1);
}

.next-btn {
    padding: 1.2em 3em;
    border: 0;
    background-color: #0075ff;
    margin-top: 2em;
    border-radius: 5px;
    color: #cce3ff;
    font-weight: 700;
    cursor: pointer;
}

.back-btn {
    background-color: transparent;
    margin-right: 3em;
    border: 0;
    color: #677b93;
    font-weight: 700;
    cursor: pointer;
}

.err {
    color: red;
    font-size: 0.6em;
    margin-top: 0.5em;
}