.form-container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.steps-logo-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    background-color: #304767;
    padding: 2em;
}

.indeed-logo {
    width: 30%;
}

.steps-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-name {
    color: #ffffff;
    font-size: 1em;
}

.step-description {
    color: #e9f3fe;
    font-size: 0.7em;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.step-count {
    padding: 7px 10px;
    border: 0.5px solid #5f738e;
    border-radius: 40px;
    margin-right: 5px;
}

.step {
    color: #5f738e;
    font-size: 0.8em;
}

.dotted-line {
    margin: 15px;
    height: 2em;
    border-left: 1px dashed #5f738e;
}

.selected-step {
    color: #c5d1e0;
    border-color: #c5d1e0;
}

@media screen and (min-width:800px) {
    .indeed-logo {
        width: 20%;
    }

    .step-name {
        font-size: 1.5em;
    }

    .step-description {
        font-size: 1em;
    }

    .step {
        font-size: 1.2em
    }

    .step-count {
        padding: 5px 10px;
    }
}

@media screen and (max-width:650px) {
    .steps-logo-container {
        display: none;
    }
}