.emoji-container {
    background-color: #fdf2e5;
    border-radius: 50px;
    align-self: flex-start;
}

.emoji {
    width: 20px;
    margin: 1em 1.5em;
}

.form-heading {
    color: #4d5b68;
    margin-top: 1em;
    font-size: 1.5em;
}

.form-description {
    color: #aab7c0;
    margin-top: 1em;
    font-size: 1em;
    font-weight: 600;
}