.upload-image-container {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 5px solid white;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload-image {
    width: 190px;
    height:190px;
    border-radius: 50%;
}


.image-container {
    padding: 3em;
    background: linear-gradient(180deg, #c3daf3 50%, white 50%);
    margin-top: 1em;
    border-radius: 20px;
}