.step2-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    overflow: auto;
    padding: 3px;
}

.add-school-button {
    padding: 1em;
    background-color: transparent;
    border: 1px dashed #e4e7e9;
    font-size: 1em;
    border-radius: 5px;
    color: #9aaab8;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
}

.school-label-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 50%;
}

@media screen and (max-width: 850px) {
    .school-label-input-container {
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    .school-label-input-container {
        width: 100%;
    }
}